.btn-pink {
  color: #1B1A17;
  background-color: #F0A500;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: "Montserrat Alternates";
  font-size: 25px;
  text-align: center;
}

.btn-pink:hover {
  color: #F0A500;
  background-color: #F6E7D8;
}
